@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


html {
    scroll-behavior: smooth;
}

/* color Palette argb Werte 
    --green-color: #99ff99;
    --blue-color: #6187ad;
    --orange-color:#e9c985;
    --red-color:#f59f9f;
    --grey-color: #abaaa7;*/


:root {
    --greyDark-color: #545454;  /* new palette  */
    --greyMed-color: #737373;
    --greyBri-color: #dedede;
    --greyLight-color: #F1F2F3;
    --redDark-color: #6e1b0d;  /* new palette end */

    --green-color: #99ff99;
    --blue-color: #6187ad;
    --orange-color:#e9c985;
    --red-color:#f59f9f;
    --grey-color: #abaaa7;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;    
}

html, body{
    height: 100%;
}


/* background color */
.bg-myGreyDark{
    background-color: var(--greyDark-color);
}

.bg-myGreyMed{
    background-color: var(--greyMed-color);
}

.bg-myGreyBri{
    background-color: var(--greyBri-color);
}

.bg-myGreyLight{
    background-color: var(--greyLight-color);
}

.bg-myRedDark{
    background-color: var(--redDark-color);
}

/* text color */
.text-myGreyDark{
    color: var(--greyDark-color);
}

.bg-myGreyMed{
    color: var(--greyMed-color);
}

.bg-myGreyBri{
    color: var(--greyBri-color);
}

.bg-myGreyLight{
    color: var(--greyLight-color);
}

.bg-myRedDark{
    color: var(--redDark-color);
}

/* old palette */
.bg-myGreen{
    background-color: var(--green-color);
}

.bg-myBlue{
    background-color: var(--blue-color);
}

.bg-myRed{
    background-color: var(--red-color);
}

.bg-myGrey{
    background-color: var(--grey-color);
}

.bg-myOrange{
    background-color: var(--orange-color);
}

.text-myBlue{
    color: var(--blue-color);
}

.text-myGrey{
    color: var(--grey-color);
}

.text-myRed{
    color: var(--red-color);
}

.text-myGreen{
    color: var(--green-color);
}

/* iframe */
#frame{
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
}

